* {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.main-conatainer {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  width: 40%;
  margin-left: auto;
  margin-right: auto;
  border: thin solid #000;
  padding: 0.5rem;
}

h1 {
  font-size: 1.2rem;
  text-align: center;
}

.conatainer-ul {
  border: thin solid #000;
  padding: 0.25rem;
}

.listBooks,
ul {
  list-style-type: none;
}

ul li {
  display: inline;
  width: 100%;
}

span {
  top: 50%;
}

.remove-btn {
  padding: 0;
  width: max-content;
  float: right;
  box-shadow: 2px 2px 1px 0 rgba(0, 0, 0, 1);
}

.paragraph {
  font-weight: 600;
  font-size: 1.2rem;
  text-align: center;
  padding-bottom: 1rem;
}

hr {
  width: 50%;
  margin-left: auto;
  margin-right: auto;
}
